@import '../bower_components/components-foundation/scss/normalize';
@import '../bower_components/components-foundation/scss/foundation';

$grey-light: #f5f5f1;
$grey: #efefeb;
$grey-dark: #d2d2d2;
$orange: #D5641C;
$blue: #0192b5;

$brand-font: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;


// Type
.h1 {
    @extend h1;
}

.h2 {
    @extend h2;
}
.h3 {
    @extend h3;
}

.h4 {
    @extend h4;
}

.small {
    @extend small;
}

//Layout

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.header {
    background-color: $grey-light;
    border-bottom: 1px solid $grey-dark;
    
    h1 {
        font-family: $brand-font;
        color: $orange;
    }
}

.main-section {
    padding-top: 20px;
    background-color: $grey;
    
    img {
        padding-bottom: 20px;
    }
}

.footer {
    padding: 20px 0;
    color: #777;
    border-top: 1px solid $grey-dark;
    text-align: center;
}

.col-section-x3 {
    padding-top: 20px;
    margin: 20px 0;
    border-top: 1px solid $grey-dark;
    border-bottom: 1px solid $grey-dark;
    text-align: center;
}

// Forms

fieldset {
    background-color: #FFF; 
}

label, .form-label {
    color: $blue;
}

.form-label {
    font-size: .875rem;
    cursor: pointer;
    display: block;
    font-weight: 400;
    margin-bottom: .5rem;
}

input[type="radio"] + label {
    color: #222;
}