
<div class="header" role="banner">
  <h1>Etsy Profit Calculator</h1>  
</div>

<div class="main" role="main">
  <p>Got a new item you want to list on your Etsy store but get all confused when it comes to figuring out how much you'll make after production costs and fees?</p>
  <p>Try out the calculator below!</p>

  <p class="bg-warning">Note: The Absorb postage is optional input for people that take some of the cost from postage and put it against the item's profit so postage appears lower to their customers.</p>

  <form class="form-horizontal" role="form" name="etsyForm" data-ng-controller="MainCtrl">
      <div class="form-group">
        <label for="salesPrice">Sales Price</label>
        <input type="number" name="salesPrice" class="form-control" data-ng-model="salesPrice" data-ng-change="calcEtsyFee()" />  
      </div>

      <fieldset>
        <legend>Shipping Location</legend>
        <div class="radio">
          <label>
            <input type="radio" name="shipping-location" data-ng-model="shippingLocation" value="local" />
            Same Country
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="shipping-location" data-ng-model="shippingLocation" value="overseas" data-ng-change="calcPaymentFee()" />
            Overseas
          </label>
        </div>
      </fieldset>

      <fieldset>
        <legend>Payment Method</legend>
        <div class="radio">
          <label>
            <input type="radio" name="pay-method" data-ng-model="payMethod" value="paypal" data-ng-change="calcPaymentFee()" />
            Paypal  
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="pay-method" data-ng-model="payMethod" value="direct" data-ng-change="calcPaymentFee()" />
            Direct Checkout
          </label>
        </div>  
      </fieldset>
    
    <fieldset>
      <legend>Costs</legend>
      
      <div class="form-group">
        <label for="printCosts">Printing</label>
        <input type="number" name="printCosts" class="form-control" data-ng-model="printCosts" />  
      </div>
      
      <div class="form-group">
        <label for="postageCosts">Absorbed Postage</label>
        <input type="number" name="postageCosts" class="form-control" data-ng-model="postageCosts" />  
      </div>

      <div class="form-group">
        <label>Etsy Fee</label>
        <p><span data-ng-bind="etsyCosts | currency"></span> (<span data-ng-bind="etsyPercentage"></span>%)</p>
      </div>

      <div class="form-group">
        <label>Listing Fee</label>
        <p data-ng-bind="listingCosts | currency"></p>
      </div>
      
      <div class="form-group">
        <label>Payment Processing Fee</label>
        <p <span data-ng-bind="paymentCosts | currency"></span> ({{paymentPercentage}} %)</p>
      </div>

      <div class="form-group">
        <label>TOTAL COSTS</label>
        {{costs() | currency}}
      </div>

      <div class="">
        <h3>Profit earned</h3>
        <p data-ng-bind="profit() | currency"></p>
      </div>

      <!-- <button class="btn btn-lg btn-primary" data-ng-click="calculate()">Calculate Profit</button> -->

    </fieldset>
    
  </form>
</div>

<div class="footer" role="contentInfo">
  <p>&copy; <a href="http://github.com/tgdev" target="_blank">TG DEV</a></p>
</div>
