
<h1>Etsy profit Calculator</h1>

<form name="etsyForm" data-ng-controller="MainCtrl">
  <div class="row">
    <label for="salesPrice">Sales Price</label>
    <input type="text" name="salesPrice" data-ng-model="salesPrice" />  
  </div>

  <div class="row">
    <label for="shippingLocation">Shipping Location</label>
    <input type="radio" ng-model="shippingLocation" value="local">Same Country<br/>
    <input type="radio" ng-model="shippingLocation" value="overseas">Overseas<br/>
  </div>

  <div class="row">
    <label for="payMethod">Payment Method</label>
    <input type="radio" ng-model="payMethod" value="paypal">Paypal<br/>
    <input type="radio" ng-model="payMethod" value="direct">Direct Checkout<br/>
  </div>

  <fieldset>
    <legend>Costs</legend>
    
    <div class="row">
      <label for="printCosts">Printing</label>
      <input type="text" name="printCosts" data-ng-model="printCosts" />  
    </div>
    
    <div class="row">
      <label for="postageCosts">Postage</label>
      <input type="text" name="postageCosts" data-ng-model="postageCosts" />  
    </div>

    <div class="row">
      <p class="label">Etsy Fee</p>
      <p><span data-ng-bind="etsyCosts | currency"></span> (<span data-ng-bind="etsyPercentage | percentage"></span>)</p>
    </div>

    <div class="row">
      <p class="label">Listing Fee</p>
      <p data-ng-bind="listingCosts | currency"></p>
    </div>
    
    <div class="row">
      <p class="label">Payment Processing Fee</p>
      <p <span data-ng-bind="paymentCosts | currency"></span> (<span data-ng-bind="paymentPercentage | percentage"></span>)</p>
    </div>

    <div class="row">
      <p>Profit earned</p>
      <p data-ng-bind="profit | currency"></p>
    </div>

    <div class="row">
      <button data-ng-click="calculate()">Calculate Profit</button>
    </div>

  </fieldset>
  
</form>

<div class="footer">
  <p>&copy; <a href="http://github.com/tgdev" target="_blank">TG DEV</a></p>
</div>
